p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.loginContainer {
  max-width: 350px;
  margin: auto;
  margin-top: 150px;
  background-color: #f0f0f0; 
  border-radius: 10px;
  padding: 20px;
}

.form-group.button-group {
  margin-top: 20px;
}

button.btn-primary {
  margin-right: 15px; /* Változtasd meg a kívánt margint */
}

input{
  margin-bottom: 15px;
}

