<div class="layout-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius: 40px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-6 px-4 sm:px-6" style="border-radius: 37px; width: 40rem; /* Adjust the width as per your requirement */">
        <div class="text-center mb-4">
          <div class="text-900 text-2xl font-medium mb-2">Regisztráció</div>
          <span class="text-600 font-medium">Csatlakkoz hozzánk</span>
        </div>

        <div>
          <label for="email" class="block text-900 text-lg font-medium mb-2">Email</label>
          <input formControlName="email" id="email" type="email" placeholder="Email address" pInputText class="w-full md:w-30rem mb-3" style="padding: 0.8rem; font-size: 1rem; /* Adjust the padding and font-size values */">

          <label for="username" class="block text-900 text-lg font-medium mb-2">Felhasználó név</label>
          <input formControlName="username" id="username" type="text" placeholder="Felhasználó név" pInputText class="w-full md:w-30rem mb-3" style="padding: 0.8rem; font-size: 1rem; /* Adjust the padding and font-size values */">

          <label for="name" class="block text-900 text-lg font-medium mb-2">Teljes név</label>
          <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
            <div *ngIf="f['fullname'].errors['required']" class="text-red-600">
              Teljes név szükséges
            </div>
          </div>
          <input formControlName="fullname" id="name" type="text" placeholder="Teljesn név" pInputText class="w-full md:w-30rem mb-3" style="padding: 0.8rem; font-size: 1rem; /* Adjust the padding and font-size values */">

          <label for="age" class="block text-900 text-lg font-medium mb-2">Kor</label>
          <input  formControlName="age" id="age" type="number" placeholder="Kor" pInputText class="w-full md:w-30rem mb-3" style="padding: 0.8rem; font-size: 1rem; /* Adjust the padding and font-size values */">

          <label for="password" class="block text-900 text-lg font-medium mb-2">Jelszó</label>
          <p-password formControlName="password" id="password" placeholder="Jelszó" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-2.5 md:w-30rem"></p-password>

          <label for="passwordRe" class="block text-900 text-lg font-medium mb-2">Jelszó újra</label>
          <p-password formControlName="confirmPassword" id="passwordRe" placeholder="Jelszó újra" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-2.5 md:w-30rem"></p-password>
          

          <div class="flex align-items-center justify-content-between mb-3 gap-2">
            <button type="submit" pButton pRipple label="Sign In" class="w-full p-3 text-lg"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
