p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    max-width: 350px;
    margin: auto;
    margin-top: 150px;
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 20px;
  }

  .form-group.button-group {
    margin-top: 20px;
  }

  button.btn-warning {
    margin-left: 10px; /* Változtasd meg a kívánt margint */
  }
  
