.layout-container{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    transition: transform 0.3s ease;
}

.layout-container-active{
  margin-top: 100px;
  margin-right: 500px;
  transition: transform 0.3s ease;
}  
  